{% for comment in comments %}
    <li x-data="{post_hidden: false, replies_hidden: true}">
        {{comment}}

        <button @click="post_hidden = !post_hidden">
            <i class="bi bi-reply"></i>
        </button>

        <!-- Delete Comment Feature -->
        {% comment %} {% if comment.user == true_user %}
        <button>
            <i class="bi bi-trash"></i>
        </button>
        {% endif %} {% endcomment %}

        <div x-show="post_hidden">
            <form action="{% url "comment" article_id=article.id%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="parent_id" value="{{comment.id}}">
                {{comments_form.as_p}}
                <button type="submit" class="btn btn-primary form-control">Post</button>
            </form>
        </div>

        {% if comment.children.all %}
            <button hx-get="{% url "load_replies" article_id=article.id comment_id=comment.id %}" hx-swap="innerHTML" hx-target="#replies-{{comment.id}}"
                    x-show="replies_hidden" @click="replies_hidden = false">
                Show replies
            </button>

            <div id="replies-{{comment.id}}" x-show="!replies_hidden" x-transition></div>
        {% endif %}

    </li>
{% endfor %}

{% if comments.has_next %}
    <button x-data="{loader_show: true}" x-show="loader_show" @click="loader_show = false" 
            hx-get="{% url "details" article_id=article.id %}?page={{comments.next_page_number}}" hx-target="#comments" hx-swap="beforeend">
        Load more comments
    </button>
{% endif %}