{% load custom_filters %}

{% for sub_reply in replies %}
<div class="d-flex flex-start mt-4" x-data="{post_hidden: false, replies_hidden: true}">
    <a class="me-3" href="#">
        <img class="rounded-circle shadow-1-strong"
          src="{{sub_reply.user.profile_picture.url}}" alt="avatar"
          width="65" height="65" />
    </a>

    <div class="flex-grow-1 flex-shrink-1">
        <div>
            <div class="d-flex justify-content-between align-items-center">
                <p class="mb-1">
                    {{sub_reply.user.username}} <span class="small">- {{sub_reply.created_at|get_created_at}}</span>
                </p>
                <!-- Delete Comment Feature -->
                <a href="#!" @click="post_hidden = !post_hidden">
                    {% if sub_reply.user == true_user %}<i class="bi bi-trash"></i>{% endif %}<i class="bi bi-reply"></i>
                    </span>
                </a>
            
            </div>
            <p class="small mb-0">
              {{sub_reply.content}}
            </p>
        </div>
        <div x-show="post_hidden" class="mt-2">
            <form action="{% url 'comment' article_id=article.id%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="parent_id" value="{{sub_reply.id}}">
                {{comments_form.as_p}}
                <button type="submit" class="btn btn-primary form-control">Post</button>
            </form>
        </div>
        {% if sub_reply.children.all %}
            <p hx-get="{% url "load_replies" article_id=article.id comment_id=sub_reply.id %}" 
                    hx-swap="innerHTML" hx-target="#replies-{{sub_reply.id}}"
                    x-show="replies_hidden" @click="replies_hidden = false"
                    class="mt-2 comment">
                <i class="bi bi-arrow-down text-primary"></i>Show {{sub_reply.children.count}} replies
            </p>

            <div id="replies-{{sub_reply.id}}" x-show="!replies_hidden" x-transition></div>
        {% endif %}
    </div>

</div>
{% endfor %}