{% extends "blog/skeleton.html" %}

{% block title %}{{article.title}} - Update{% endblock title %}

{% block head_scripts%}{{form1.media}}{% endblock %}

{% block content %}

{% if error %}
<p>{{error}}</p>
{% else %}
<h1 data-aos="fade-up" data-aos-delay="400">Create new article here</h1>
<form action="{% url "update" article_id=article.id %}" method="post" enctype="multipart/form-data" data-aos="zoom-in" data-aos-delay="500">
    {% csrf_token %}
    
    <h3>Enter article details</h3>
    {% for fm in form1 %}
        <label for="{{fm.id_for_label}}">{{fm.label}}</label>
        {{fm}}
    {% if fm.errors %}
        {% for error in fm.errors %}
            <p style="color: red;">{{error|striptags}}</p>
        {% endfor %}
    {% endif %}
        <br><br>
    {% endfor %}

    <h3>Give Image</h3>
    {% for fm in form2 %}
        <label for="{{fm.id_for_label}}">{{fm.label}}</label>
        {{fm}}
        {% if fm.errors %}
            {% for error in fm.errors %}
                <p style="color: red;">{{error|striptags}}</p>
            {% endfor %}
        {% endif %}            
    {% endfor %}
    <br><br>
    <input type="submit" value="Submit">
</form>
<a href="{% url "profile" %}">Cancel</a>
{% endif %}
{% endblock %}